*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

.page-container{
  position: relative;
  height: 100%;
}

.page-video-bg{
  height: 100%;
}

.page-video-bg video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
body{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: arial;
}
.page-header{
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}
.page-header nav a{
  font-size: 13px;
  font-weight: 700;
  color: #333;
  margin-left: 20px;
}
.page-header nav a:last-child{
  display: inline-block;
  width: 60px;
  height: 23px;
  background-color: #38f;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
}
.page-mainer{
  flex: 1;
  text-align: right;
  margin-top: 100px;
  padding-bottom: 1px;
}
.header-left{
  color: #999;
  margin-right: 15px;
  text-align:right;
}
.header-r{
  width:10px;height:10px;
}
.footer-info{
    color: #999;
  text-align:center;
  margin-top: 0px;
 
}